.info {
  display: flex;
  justify-content: center;
  background: linear-gradient(100deg, #fff, 20%, hsla(0, 0, 100%, 0) 95%);
  border-radius: 3.125rem;
  overflow: hidden;
  position: relative;
  height: 60vh;

  &-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    backdrop-filter: blur(2px);
  }

  &-right {
    width: 50%;
    margin-left: auto;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
