.activecontent {
  margin-top: 44px;

  background: #ffffff;
  min-height: 750px;
  /* Light background */

  border-radius: 40px;

  border: 1px solid #f7f4f9;
} /* Styling an indeterminate progress bar */
.surveys {
  display: flex;
  flex-wrap: wrap;
}
.singleelement {
  background: #ffffff;
  /* Light background */

  border-radius: 34px;
  width: 360px;
  height: 335px;

  margin: 32px;
  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.08);
  transition: all 2s ease;
  -webkit-transition: all 0.4s ease;
}
.singleelement:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(1.01);
}
.surveypreview {
  width: 360px;
  height: 246px;
  border-radius: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    80.25deg,
    #f7f4f9 4.07%,
    rgba(247, 244, 249, 0) 80.72%
  );
  z-index: 3;
  border-radius: 34px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10;
}
.belowimg {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
}
.btnparticipate {
  background: #ffffff;
  /* Primary */

  border: 1px solid #a061df;
  /* button shadow */

  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.15);
  border-radius: 40px;
  height: 58px;
  width: 130px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* Primary */

  color: #a061df;
  cursor: pointer;
}
.btnparticipate:hover {
  box-shadow: 0px 0px 20px rgba(93, 0, 207, 0.553);
}
.btnparticipate:active {
  transform: scale(0.99);
}
.approxpayout {
  background: #ecececb4;
  /* Primary */

  border: 1px solid #a1a1a116;
  /* button shadow */

  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.15);
  border-radius: 40px;
  height: 58px;
  width: 130px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 58px;
  /* identical to box height */

  text-align: center;

  /* Primary */

  color: #575757;
}
.displayinfo {
  display: flex;
  justify-content: space-between;
  padding: 00px 15px 0px 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;

  /* Dark main */

  color: #221033;
}
.displayinfo p {
  margin-top: 26px;
  margin-bottom: 0px;
}
.highlight {
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  display: flex;
  align-items: center;

  /* Primary */

  color: #a061df;
  display: inline;
}
.participated {
  display: flex;
  display: inline;
}
.divprog {
  padding: 00px 15px 0px 15px;
}
progress {
  width: 100%;
  height: 3px;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background: #a061df5b;

  border-radius: 50px;

  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  border-top: 2px #f7f4f9;
}
progress::-webkit-progress-value {
  background: #a061df;
  /* Looks great, now animating it */
  background-size: 25px 14px, 100% 100%, 100% 100%;
  -webkit-animation: move 5s linear 0 infinite;
}
