.connectBtn {
  all: unset;
  /* Primary */

  background: #a061df;
  /* button shadow */

  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.15);
  border-radius: 40px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  color: #ffffff;
  animation: move 5s linear 0 infinite;
  -webkit-animation: move 5s linear 0 infinite;
  cursor: pointer;

  :hover {
    transform: scale(1.01);
  }

  :active {
    transform: scale(0.99);
  }
}
