/* NOTE: import fonts locally*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

header {
  display: flex;
  flex-direction: column;
  gap: 7rem;

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      height: clamp(40px, 10px + 5vw, 58px);
      cursor: pointer;
    }
  }
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :not(:last-child) {
    margin-right: 5rem;
  }

  &-link-btn {
    color: #746e7a;
    font-weight: 400;

    &:hover {
      color: var(--color-primary);
    }
  }

  &-review-btn {
    margin-left: auto;
    color: #746e7a;
    background: #ececec;
    box-shadow: 0 0.5rem 0.75rem rgba(133 133 133/ 15%);

    &:disabled {
      cursor: default;
      filter: grayscale(1);

      &:hover {
        transform: scale(1);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .bottom-row-link-btn:nth-of-type(n + 2) {
    display: none;
  }

  .bottom-row-review-btn {
    display: none;
  }
}
