@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.logo {
  height: clamp(40px, 10px + 5vw,  58px);
  cursor: pointer;
}
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.connectbtn {
  all: unset;
  /* Primary */

  background: #a061df;
  /* button shadow */

  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.15);
  border-radius: 40px;
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  color: #ffffff;
  -webkit-animation: move 5s linear 0 infinite;
  cursor: pointer;
}
.connectbtn:hover {
  transform: scale(1.01);
}
.connectbtn:active {
  transform: scale(0.99);
}
