html {
  min-height: 100vh;
  font-size: 16px;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --color-primary: #a061df;
  --border-radius-small: 2.125rem;
  --border-radius-medium: 2.5rem;
  --border-radius-large: 3.125rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*NOTE: rewark could be better*/
button {
  all: unset;
  cursor: pointer;
  display: flex;
  font-size: clamp(1rem, 0.3rem + 1vw, 1.125rem);
  font-weight: 600;
  justify-content: center;
  padding: 0.8rem;
  border-radius: var(--border-radius-medium);

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}

h1 {
  font-weight: 700;
  font-size: clamp(0.625rem, 0.625rem + 5vh, 4rem);
  color: #221033;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  font-size: clamp(0.875rem, 0.1875rem + 2vw, 1rem);
  line-height: clamp(1.125rem, 0.25rem + 3vw, 1.375rem);
}

#root {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.violet-btn {
  color: white;
  background: var(--color-primary);
  box-shadow: 0 0.5rem 0.75rem rgba(93, 0, 207, 0.15);
}
