.infocontent {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}
.leftside {
  background: linear-gradient(
    102.83deg,
    #ffffff 19.3%,
    rgba(255, 255, 255, 0) 95.21%
  );
  /* Light background */
  border-top: 1px solid #f7f4f9;
  border-left: 1px solid #f7f4f9;
  border-bottom: 1px solid #f7f4f9;
  height: 597px;
  width: 50%;
  border-radius: 50px 0px 0px 50px;
}
.rightside {
  z-index: 1 !important;
  height: 597px;
  width: 50%;

  border-top: 1px solid #f7f4f9;
  border-right: 1px solid #f7f4f9;
  border-bottom: 1px solid #f7f4f9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px 50px 50px 0px;
  background-color: #e6d9eac1;
}
.content {
  margin-top: 140px;
  margin-left: -180px;
  position: absolute;
  z-index: 2;
  
}
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(10px, 10px + 5vw,  64px);
  line-height: clamp(20px, 20px + 4vw,  77px);
  display: flex;
  align-items: center;

  /* Dark main */

  color: #221033;
  margin-bottom: clamp(5px, 15px + 1vw,  25px);
}
.pmain {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 3px + 2vw,  16px);
  line-height: clamp(18px, 4px + 3vw,  22px);
  /* or 138% */

  display: flex;
  align-items: center;

  /* Dark main */

  color: #221033;
  max-width: 550px;
  margin: 0;
  margin-bottom: 25px;
  backdrop-filter: blur(2px);
}
.startbtn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  all: unset;
  background: #a061df;
  /* button shadow */

  box-shadow: 0px 8px 12px rgba(93, 0, 207, 0.15);
  border-radius: 40px;
  width: 150px;
  height: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* text */

  color: #ffffff;
  cursor: pointer;
}
.startbtn:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 1000px) {
  .content {
    margin-top: clamp(50px, 10px + 15vw,  100px);
    margin-left: clamp(0px, 5px + 5vw,  100px);
    margin-right: clamp(0px, 5px + 5vw,  100px);
    position: absolute;
    z-index: 2;
  }
  .leftside{
    height: clamp(400px, 250px + 20vw,  500px);
  }
  .rightside{
    height: clamp(400px, 250px + 20vw,  500px);
  }
}
@media screen and (max-width: 500px) {
  .rightside{
    filter: grayscale(20%);
    opacity: 0.4;
  }
}